<!DOCTYPE html>
<html>

<head>
  <title>Materialize HTML Admin Template Index</title>
</head>

<body>
  <h1>Materialize HTML Admin Template Index</h1>
  <table border="2">
    <tr>
      <th>Name</th>
      <th>URL (LTR)</th>
    </tr>
  
    <tr>
      <td>Vertical Dark Menu Template</td>
      <td>
        <a href="html/ltr/vertical-dark-menu-template/index.html" target="_blank">Go To
          Vertical Dark Menu Template
          LTR</a>
      </td>
    </tr>
  </table>

  <h2>Documentation</h2>
  <hr />

  <table border="2">
    <tr>
      <th>Name</th>
      <th>URL</th>
    </tr>
    <tr>
      <td>Materialize HTML Admin Documentation</td>
      <td><a href="https://pixinvent.com/materialize-material-design-admin-template/documentation/index.html" target="_blank">Go To documentation</a></td>
    </tr>
    <tr>
      <td>Materialize Laravel Admin Documentation</td>
      <td><a href="https://pixinvent.com/materialize-material-design-admin-template/documentation/laravel-integration.html" target="_blank">Go To documentation</a></td>
    </tr>
  </table>
</body>

</html>